<style>
  #RolesNav {
    font-weight: bold;
  }
</style>

<!doctype html>
<html lang="en">

<head>
  <title>Roles Management</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

  <script>
    $(function () {
      function convertFormToJSON(form) {
        role_name = document.getElementById("role_name").value;
        let json = JSON.parse('{"role_name": "' + role_name + '"}')
        return json;
      }

      current_location = window.location.href
      position_1 = current_location.indexOf("edit_role")
      redirect_location = current_location.substring(0, position_1 - 1) + "/roles"

      //For "Save" Button
      $("#edit").submit(function (e) {
        e.preventDefault();  // avoid to execute the actual submit of the form
        var form = $(this);
        var actionUrl = form.attr('action');
        var payload = convertFormToJSON(form)
        position_2 = current_location.lastIndexOf("/")
        role_id = current_location.substring(position_2 + 1)

        $.ajax({
          type: "PUT",
          cache: false,
          url: "/update_role/" + role_id,
          data: JSON.stringify(payload), // serializes the form's elements.
          dataType: "json",
          contentType: "application/json",
          success: function (data) {
            $('#exampleModal').modal({
              show: true
            });
            $("#exampleModalLabel").text("Update Role Successfully");
            $(".modal-body").text("The name of the role has been updated successfully");
            $(".close").click(function () {
              $('#exampleModal').modal('hide')
            })
            $('#exampleModal').on('hidden.bs.modal', function (e) {
              window.location.replace(redirect_location)
            })
          },
          error: function (error) {
            $('#exampleModal').modal({
              show: true
            });
            $("#exampleModalLabel").text("Update Role Unsuccessfully");
            $(".modal-body").text(error["responseJSON"]["message"]);
          }
        });
      })

      //For "Cancel" Button 
      const cancel = document.getElementById("cancel");
      cancel.addEventListener("click", function () {
        window.location.replace(redirect_location)
      });

    })
  </script>

</head>

<body class="bg-light">

  {% extends "nav.html" %}

  {% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col">
        <h3>Edit Role</h3>
      </div>
    </div>
    <br>

    <form id="edit">
      <div class="row">
          <label for="role_name" class="col-sm-3 col-form-label">Role Name:</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="role_name" value="{{ roles_info['role_name'] }}">
          </div>
      </div>
      <div class="row mt-2" style="float:right;">
          <div>
              <input type="submit" class="btn btn-danger px-4 py-2 m-2" id="cancel" value="Cancel">
              <input type="submit" class="btn btn-primary px-4 py-2 my-2" style="margin-right: 15px;" id="edit" value="Save Changes">
          </div>    
      </div>
    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary px-4 py-2 mx-2" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>

</html>